.row-spacing {
    margin-top : 10px;
}

.input-spacing {
    margin-top: 20px;
    margin-bottom: 30px;
}

.input-width {
    width: 20px;
}

.progress-maring {
    margin-top: 2px;
}

.toggle-align {
    vertical-align: middle;
}

.toggle-padding {
    padding-top: 7px;
}

.form {
    background: #000; 
    padding: 3px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}

.form input {
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: .5%; 
}

.form button {
    width: 9%; 
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 10px; 
}
#messages {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages li {
    padding: 5px 10px; 
}

#messages li:nth-child(odd) {
    background: #eee; 
}

.list-buttons {
    list-style-type: none;
}

.li-spacing {
    margin-top: 10px;
}

.player-row-spacing {
    margin-bottom: 10px;
}

.negative-spacing {
    margin-top: -6rem;
}

.turn-header {
    margin: 0 7rem 0 4rem;
}

.large-bottom-spacing {
    margin-bottom: 6rem;
}

.large-top-spacing {
    margin-top: 6rem;
}